<h1>GDP</h1>
<% @gdps.each do |gdp| %>
    <%= gdp.CountryName%>
    <%= gdp.CountryCode%>
    <%= gdp.IndicatorName%>
    <%= gdp.IndicatorCode%>
    <%= gdp.Y2000%>
    <%= gdp.Y2001%>
    <%= gdp.Y2002%>
    <%= gdp.Y2003%>
    <%= gdp.Y2004%>
    <br />
<% end %>

<% @indicators.each do |indicator|%>
    <%= indicator.IndicatorCode%>
    <%= indicator.IndicatorName%>
    <%= indicator.SourceNote%>
<% end %>
<br /><br /><br /><br /><%= @message%>
<% @countries.each do |country| %>
    <p><%= country.CountryCode %></p>
    <p><%= country.Region %></p>
    <p><%= country.IncomeGroup %></p>
    <p><%= country.SpecialNotes %></p>
<% end %>
